/* ------------TRELLO COLORS --------------*/
/* 500 Primary #0079BF */
/* 600 Footer  #026AA7 */
/* 700 Navbar #055A8C  */
/* Column #E8E3E7 */
/* --------------------------------------- */

html {
    position: relative;
    height: 100%;
}

body {
	background-color: #0079BF;
	background-size: cover;
	clear: both;
	min-height: 100%;
	bottom: 60px;
	overflow-y: auto;
	
}
.error{
	color: red;
	display: none;
}

/* NAVBAR */
.navbar {
	z-index: 1000;
	margin-bottom: 0;
	border-radius: 0;
    background-color: #055A8C;
    border: none;
    width: 100%;
}
.navbar.navbar-inverse li a,
.navbar.navbar-inverse a{
    color: white;
}
.actionButton{
    padding-right: 10%;
    background-color: #055A8C;
}

.navbar ul li:active {
    background-color: #055A8C;
}


/* COLUMNS AND CARDS */
.title
{
	background-color:#c5d9f9;
	text-align:center;
	font-weight:bold;
	color:black;
	padding: 5px;
}

/*#wrapper {
	z-index: -1000;
}*/

/*.row.content {
	height: 100%;
	clear: height;
}*/

.iColumn {
	padding: 5px;
	min-width: 300px;
	min-height: 500px;
	background-color: #dce5f4;
	height: auto !important;
	height: 100%;
	border: 1px solid black;
	overflow-y: auto;
	clear: height;
}

*[draggable=true]
{
	float:left;
	min-width: 70px;
	min-height: 70px;
	border: 2px solid black;
	margin: 10px;
}

*[draggable=false]
{
	float:left;
	min-width: 70px;
	min-height: 70px;
	border: 1px solid gray;
	margin: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.cardTitle
{
	background-color: #3e79d8;
	border:2px solid white;
	color:white;
    font-size: 12px;
    height: 30px;
}

.card-content{
	background-color: #f7f9fc;
	border:2px solid white;
    font-size: 12px;
    text-align: left;

}

.card-footer{
	background-color: #e1e8f4;
	border:2px solid white;
    font-size: 12px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #026AA7;
    padding: 20px;
    color: white;
}

.signup-box {
    width: 50vw;
}

.blockBtn {
    border-radius: 50px;
    color: #fff;
    background-color: rgba(193, 65, 65, 0.54);
    float: right;
    margin-right: 2px;
}

.configBtn {
    border-radius: 50px;
    color: #fff;
    background-color: rgba(193, 65, 65, 0.54);
    float: left;
    margin-left: 2px;
}

.blocked {
    background-color: #ad2a2a;
}

.unblocked {
    background-color: #3e79d8;
}