/* ------------TRELLO COLORS --------------*/
/* 500 Primary #0079BF */
/* 600 Footer  #026AA7 */
/* 700 Navbar #055A8C  */
/* Column #E8E3E7 */
/* --------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body
{
  margin-bottom: 60px;
  background-color: #0079BF;
  background-size: cover;
}
.error{
  color: red;
  display: none;


}


/* NAVBAR */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
    background-color: #055A8C;
    border: none;
    width: 100%;

}
.navbar.navbar-inverse li a,
.navbar.navbar-inverse a{
    color: white;
}
.actionButton{
    padding-right: 10%;
    background-color: #055A8C;
}

.navbar ul li:active {
    background-color: #055A8C;
}


/* COLUMNS AND CARDS */
.title
{
  background-color:#c5d9f9;
  text-align:center;
  font-weight:bold;
  color:black;
  padding: 5px;
}

.row.content {height: 500px; }

.col-sm-4 {
    padding: 5px;
  height: 100%;
  background-color: #0079BF;
}

#ready, #inprogress, #finished
{
background-color: #dce5f4;
position:absolute;
width: 500px;
height:500px;
border: 1px solid black;
}

*[draggable=true]
{
float:left;
min-width: 70px;
min-height: 70px;
border: 2px solid black;
margin: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.cardTitle
{
background-color: #3e79d8;
border:2px solid white;
color:white;
    font-size: 12px;
}

.card-content{
  background-color: #f7f9fc;
border:2px solid white;
    font-size: 12px;
}

.card-footer{
  background-color: #e1e8f4;
border:2px solid white;
    font-size: 12px;
}
.footer {
    position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;
      background-color: #026AA7;
    padding: 20px;
    color: white;
}

.signup-box {
    width: 50vw;
}
